/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #e6e6e6;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  color: #e6e6e6;
  letter-spacing: 2px;
}

body {
  background-color: #8f5656;
}

p {
  margin-bottom: 1.5em;
  color: #e6e6e6;
  color: #e6e6e6;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

button {
  color: black
}